@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*font-family: 'Russo One', 'Arial', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/*font-family: 'Roboto Mono', monospace;*/

html, body{
    height: 100%;
}

body{
    background-color: lightgray;
}

h1{
    font-family: 'Russo One', 'Arial', sans-serif;
}

.space-top{
    padding-top: 10%;
}

.space-top-little{
    padding-top: 3%;
}

#MainBox{
    width: 60%;
    margin: auto
}

.up-a-bit{
    margin-top: -2px;
}

#program{
    height: 70vh;
    width: 25vw;
    margin: auto;
}

.alert{
    position: absolute;
    width: 100%;
}

#code{
    height: 65vh;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
}

#deviceTable{
    color:white;
}
#deviceTable thead{
    background-color: rgb(15, 29, 70);
}
#deviceTable tbody tr:nth-child(even)
{
    background-color: gray;
}
#deviceTable tbody tr:nth-child(odd)
{
    background-color: rgb(88, 88, 88);
}